@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Fuzzy+Bubbles:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-1: #28201f;
  --color-2: #64382b;
  --color-3: #00b4ef;
  --color-4: #dae4e3;
  --color-5: #f7fbfa;
}



*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
html{
    width: 100vw;
}

a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    color: white;
    font-weight: 600px;
}

.a__hover-effect{
    position: relative;
 }

.a__hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    block-size: 3px;
    inline-size: 0;
    right: 0;
    transition: all 300ms ease;
}

.a__hover-effect:hover:after{
    left: 0;
    inline-size: 100%;
}

.a__hover-effect--white:after{
   background-image: linear-gradient(
    to right, 
    red, 
    orange, 
    yellow, 
    green, 
    blue, 
    indigo
  );
}


.container{
    padding: 48px 16px;
    
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

img{
    pointer-events: none;
}

.section__para{
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

nav{
    display: flex;
    padding: 0 32px;
}

ul{
    text-decoration: none;
}

li{
    
    list-style: none;
    font-size: 8px;
    padding-inline: 4px;
}

/*

NAVIGATION

*/

.nav__bar{
    display: flex;
justify-content: end;
background-color: black;
inline-size: 100vw;
background-image: url(./assets/film-strip-background.jpg);
background-size: contain;
}

.links{
    display: flex;
    padding-block: 1rem;
}

.link{
    padding-inline: 1.5rem;
}

/*

LANDING PAGE

*/

.landing{
    background-color: lightgrey;
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    inline-size: 100vw;
}

.landing__title{
    margin-top: 24px;
    font-size: 3rem;
    flex-wrap:wrap ;
    text-align: center;
    color: #00b4ef;
    display: flex;
    align-items: center;
    justify-content: center;
}


.landing__para{
    text-align: center;
    margin: 24px;
    line-height: 2;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.landing__search--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-block: 24px;
}

.landing__search--btn{
    cursor: pointer;
     width: 56px;
  height: 56px;
  border: 1px solid black;
  border-radius: 5px;
    
}


.landing__search--btn:hover{
    animation: projector 600ms infinite alternate;
    animation-iteration-count: 5;
}



@keyframes projector{
   to { transform: translateY(-6px);
    }
    from{ transform: translateY(6px);
    }
}


.landing__animation{
 animation: projector 600ms infinite alternate;
    animation-duration: 600ms;
}


.landing__projector--img{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* LANDING FOOTER REEL */

.footer__reel{
    background-image: url();
}



/* HOMEPAGE */

#home{
    background-color: #5A0E24;
}

.home__header--container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #5A0E24;
    min-height: 100vh;
}


.home__header{
    font-size: 1.5rem;
    text-align: center;
    gap: 1rem;
}

.home__header--title{
    color: white ;
    font-weight: 700;
    text-shadow: 0 0 10px  #BF124D;
    padding-top: 48px;
    
}

.home__header--para{
    color: #67B2D8;
    font-weight: 700;
    padding-top: 48px;
     font-family: "Fuzzy Bubbles", sans-serif;
}

.home__input--container{
margin: 24px 0;
}

.home__header--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home__movie--search{
    max-width: 60vw;
}

.search__btn{
    cursor: pointer;
    padding: 24px;
    margin-top: 2px;
    border-radius: 15px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
     animation: fade-in 3s ease-in;
}

.search__btn:hover{
   font-size: 1.5rem;
 }

.search__btn:active{
    font-size: .7rem;
 }

 .fa-projector{
    color: white;
 }

 .projector__img{
    width: 500px;
   display: none;
 }

 
.projector{
    width: 56px;
  height: 56px;
  border: 1px solid black;
  border-radius: 5px;
 
}

.projector__light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    bottom: 240px;
    left: 460px;
    position: relative;
    background-color: black;
    box-shadow: 0 0 100px black;    
   
    background-color: gold;
    clip-path: polygon(
        50% 0%, 
        61% 35%, 
        98% 35%, 
        68% 57%, 
        79% 91%, 
        50% 70%, 
        21% 91%, 
        32% 57%, 
        2% 35%, 
        39% 35%
  );
display: none;
}


@keyframes projectorLight {
     0% { opacity: .5;
    display: none; }
     25%{opacity: .7;}
    50% { opacity: 0; } 
    75%{opacity: .7;}
    100% { opacity: .5;
    background-color: none;} 
}



@media (max-width: 550px){
    .home__header--wrapper{
       flex-wrap: wrap;
       width: 70vw;
    }
    .home__header--container{
        height: 100%;
    }
    .home__input--container{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .search__movies--label{
        padding: 0;
        
    }

    .input__wrapper{
       flex-direction: column;
    }
}





/*

SEARCH PAGE

*/



.search__container{
 background-image: url(./assets/film_theater.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
  position:relative;
    block-size: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
     border: 6px inset brown;
}



.search__btn--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade-in 3s ease-in
 }

 .search__btn{
 padding: 20px;
border-radius: 8px;
font-size: 24px;
border: 1px solid black ;
 }


input{
    font-size: 2rem;
    padding: 1vw 4vw;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
   animation: fade-in 3s ease-in;
}

.input__wrapper{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem 0;
 animation: slide-in 3s ease-in;
animation: fade-in 1.5s ease-in;
}


.label__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-in-2 2000ms ease-in;
    padding-bottom: 24px;
}

.search__movies--label{
     padding-top: 24px;
    font-size: 2rem;
    font-weight: bold;
    color: azure;
    animation: slide-in 1500ms ease-in;
    animation: fade-in 1500ms ease-in;
    animation-delay: 300ms;
    color: white;
    animation-delay: 300ms;
    transition-delay: 300ms;
}

label{
    padding-top: 24px;
    font-size: 2rem;
    font-weight: bold;
    margin-right: .5rem;
    color: azure;
    animation: fade-in 3000ms ease-in;
    animation: glowing 2s ease-in-out infinite alternate;
}


@keyframes fade-in{
    from{ opacity:0}
    to{opacity:1}
}

@keyframes slide-in{
    from{ transform: translateY(50px);
    opacity: 0;}
    to{ transform: translateY(0);
    opacity: 1;}
}

@keyframes slide-in-2{
    from{ transform: translateY(-50px);
    opacity: 0;}
    to{ transform: translateY(0);
    opacity: 1;}
}


@keyframes glowing{
from{
        text-shadow: 0 0 10px #e4e5dd91, 0 0 20px #eeefeaaf, 0 0 30px #d9ff00f8, 0 0 40px #d9ff00c9;
      }
      to{
       text-shadow: 0 0 20px #eff0e998, 0 0 30px #e6e7e198, 0 0 40px #d9ff00fe, 0 0 50px #d9ff00cb, 0 0 60px #d9ff00c4
      }
}

.movie__posters{

display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-image: url(./assets/curtains.jpg);
background-position: center;
background-size: cover;
block-size: 100%; 
position: relative;

}

.movie{
    border: 1px solid black;
    background-color: rgb(235, 231, 231);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;    
    margin: 4rem 0;
    border: 3px outset black;
    border-radius: 10px;
   cursor: pointer;
}

.movie:hover{
  background-color: rgb(181, 174, 174);
}

.movie__description--hidden-face{
    inline-size:250px;
    block-size: 500px;
    background-color: rgba(236, 236, 25, 0.53);
    color:white;
    text-shadow: 0 0 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
     position: absolute;
  text-align: center;
  transition: all 600ms ease;
  opacity: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}


.movie__description--hidden-face:hover{
    opacity: 1;
}

.movie .title{
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 300px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.movie .poster{
    background-color: #6415ff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

.no__movies{
    margin: 5rem;
    font-size: 3rem;
    color: white;
    padding: 48px;
   font-weight: 700;
   background-size: cover;
   background-repeat: repeat;
   block-size: 100vh;
}



/*

DATA POSTERS

*/

.back__btn{
    color: black;
    position: absolute;
    left:50vw;
    color: white;
    font-size: 34px;

}


.data__posters{
      background-image: url(./assets/curtains.jpg);
      background-size: cover;
      background-position: center;
      block-size: 100vh;
      display: flex;
      align-items: center;
      
}

.poster__wrapping{
   display: flex;
   flex-direction: column;
   margin-inline: 60px;
}



.data__plot{
    font-size: 24px;
    font-weight: 800;
    color: white;
    line-height: 1.625;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px black;
    padding: 24px;
}

.data__year{
     font-size: 32px;
    font-weight: 800;
    color: white;
    line-height: 1.625;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px black;
    padding: 24px;
}


.data__posters{
  padding: 24px;
  display: flex;
  align-items:start;
  justify-content: center;
  flex-direction: column;
}

.back__btn--container{
   right: 80px;
   position: relative;
}


